@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --text-color: #fbd12f;
    --color-p1: #fbd12f;
    --color-p2: #fbd12f;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: 'Comfortaa', cursive;
    font-size: 1rem;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #1b1e51;
}

/* Header ============================ */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    margin-bottom: 2rem;
    
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* game ======================== */

.game, 
.settings {
    position: relative;

    padding: 2rem 3rem;
    width: 50vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #202478;
    border: 2rem solid #6647c6;
    border-radius: 4rem;
}

.game__settings-btn,
.game__restart-btn {
    appearance: none;

    position: absolute;
    
    margin: 0;
    padding: 0;
    width: min-content;

    border: none;
    background-color: transparent;

    cursor: pointer;

}

.game__settings-btn {
    top: 1rem;
    left: 1rem;

    transition: 1s transform cubic-bezier(0.175, 0.885, 0.7, 1.7);
}

.game__settings-btn:hover {
    transform: rotate(180deg);
}

.icon-settings {
    width: 4rem;
    height: 4rem;

    fill: var(--text-color);
}

.game__restart-btn {
    top: 1rem;
    right: 1rem;

    transition: transform 1s linear;
}

.game__restart-btn:hover {
    transform: rotate(-360deg);
}

.icon_restart{
    width: 4rem;
    height: 4rem;

    fill: var(--text-color);
}

.game__info {
    margin-bottom: 3rem;

    font-size: 3rem;
    text-align: center;
}

.game__best-of {
    margin-bottom: 2rem;

    text-transform: uppercase;
}

.game__user-name {
    font-size: 3rem;
}

.game__user-name_p1 {
    margin-right: 2rem;
    
    color: var(--color-p1);
}

.game__user-name_p2 {
    margin-left: 2rem;
    
    color: var(--color-p2);
}

.game__score {
    font-size: 3rem;
}

.game__score_p1 {
    color: var(--color-p1);
}

.game__score_p2 {
    color: var(--color-p2);
}

.game__gameboard {
    margin: 0 auto;
    padding: 2rem;
    width: min-content;

    display: grid;
    grid-template-columns: repeat(3, 11rem);
    grid-auto-rows: 11rem;
    gap: 1rem;

    background-color: #6648c3;
    border-radius: 4rem;
}

.gameboard__cell {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: grid;
    place-content: center;

    background-color: #1b1e51;
    border-radius: 2rem;

    transition: background-color 0.2s linear;
}

.gameboard__cell_winner {
    background-color: #006000;
}

.gameboard__cell-value {
    position: relative;
    top: -0.4rem;
    left: -0.1rem;

    font-size: 11rem;

    transition: transform 0.25s linear;
}

.gameboard__cell-value_hidden {
    transform: scale(0);
}

/* Settings ========================== */

.settings {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    justify-content: space-between;

    font-size: 1.7rem;
    color: var(--text-color);

    transform: translate3d(-50%, -50%, 0);
    transition: opacity 0.2s linear;
}

.settings_active {
    opacity: 1;
    visibility: visible;
}

.settings__header {
    margin-bottom: 1rem;

    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.settings__block {
    margin-bottom: 2rem;
}

.settings__item-header {
    margin-bottom: 1.5rem;

    font-size: 2.5rem;
    text-align: center;
    text-transform: capitalize;
}

.settings__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__text {
    margin: 0;
    padding: 0.8rem 0;
}

.settings__options {
    display: flex;
}

.input {    
    appearance: none;

    margin: 0;
    padding: 0;

    font-family: inherit;
    font-size: inherit;
}

.input_opponent::after {    
    display: block;

    padding: 0.5rem 0;
    width: 11.8rem;

    text-align: center;
    font-size: 1.3rem;
    color: var(--text-color);

    background-color: transparent;
    border: 0.3rem solid var(--text-color);
    cursor: pointer;

    transition: background 0.2s ease-out, color 0.2s ease-out;
}

.input_opponent:hover::after {
    color: #000;
}

.input_opponent:checked::after {
    color: #000;
    background-color: var(--text-color);
}

.input_opponent:checked:hover::after {
    background-color: #f5c506;
    border-color: #f5c506;
}

.input_opponent:disabled::after {
    color: #797979;
    background-color: transparent;
    border-color: #797979;
}

.input_opponent_player::after {
    content: 'player';

    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    border-right-width: 0.15rem;
}

.input_opponent_computer::after {
    content: 'computer';

    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-left-width: 0.15rem;
}

.input_rounds-container {
    display: flex;
    align-items: center;
}

.input_rounds {
    padding: 0.3rem 0;
    width: 3rem;

    font-weight: 700;
    text-align: center;
    color: var(--text-color);

    border: none;
    background-color: transparent;
}

.input_rounds::-webkit-outer-spin-button,
.input_rounds::-webkit-inner-spin-button {
    display: none;
}

.input_rounds-btn {
    appearance: none;
    
    margin: 0;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;

    border: none;
    background-color: var(--text-color);

    cursor: pointer;

    transition: background 0.2s ease-out;
}

.input_rounds-btn:hover {
    background-color: #f5c506;
}

.input_rounds-btn:active {
    background-color: #cea603;
}

.input_rounds-btn_dec {
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.input_rounds-btn_inc {
    clip-path: polygon(0 100%, 100% 50%, 0 0);
}

.input_name {
    padding: 0.3rem 0;
    width: 25%;
    
    color: var(--text-color);
    text-align: right;

    border: none;
    border-bottom: 0.2rem solid #797979;
    border-radius: 0.1rem;
    background-color: transparent;

    outline: none;

    transition: border-color 0.2s ease-out;
}

.input_name:disabled {
    color: #797979;
}

.input_name:focus {
    border-color: var(--text-color);
}

.input_symbol::after {
    display: block;
    margin: 0 0.3rem;

    font-size: 4rem;
    font-weight: 700;
    color: #000;
    cursor: pointer;

    background-color: transparent;

    transition: color 0.2s ease-out;
}

.input_symbol:hover::after {
    color: #1b1b1b;
}

.input_symbol:checked:after {
    color: var(--text-color);
}

.input_symbol:checked:hover::after {
    color: #f5c506;
}

.input_symbol:disabled::after {
    color: #797979;
}

.input_symbol_x::after {
    content: 'x';
}

.input_symbol_o::after {
    content: 'o';
}

.input_color-container {
    position: relative;

    margin-right: 2rem;
    width: 2rem;
    height: 2rem;

    overflow: hidden;
}

.input_color {
    appearance: none;
    
    position: absolute;
    top: 50%;
    left: 50%;

    margin: 0;
    padding: 0;
    width: 5rem;
    height: 5rem;

    cursor: pointer;

    transform: translate3d(-50%, -50%, 0);
}

.settings__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.settings__btn {
    appearance: none;

    padding: 0.5rem 0;
    width: 9rem;

    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 700;
    color: #000;
    text-transform: capitalize;
    text-align: center;

    border: none;
    border-radius: 0.3rem; 
    background-color: transparent;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

.settings__btn_apply {
    background-color: #36d005;
}

.settings__btn_apply:hover {
    background-color: #2ab500;
}

.settings__btn_apply:active {
    background-color: #259b01;
}

.settings__btn_default {
    background-color: var(--text-color);
}

.settings__btn_default:hover {
    background-color: #f5c506;
}

.settings__btn_default:active {
    background-color: #cea603;
}

.settings__btn_cancel {
    background-color: #e90625;
}

.settings__btn_cancel:hover {
    background-color: #d70622;
} 

.settings__btn_cancel:active {
    background-color: #b7041c;
}

.settings__colors {
    position: relative;
}

.settings__colors-palette {
    position: absolute;
    top: -1rem;
    left: 100%;
    z-index: 1000;

    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 0.2rem;

    padding: 1.2rem;
    width: min-content;

    border-radius: 1rem;
    background-color: #120038;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.2s ease-in-out;
}

.settings__colors-palette_active {
    opacity: 1;
    visibility: visible;
}

.settings__colors-palette::before {
    content: '';

    position: absolute;
    top: 1rem;
    right: 100%;

    display: block;
    width: 2rem;
    height: 2rem;

    background-color: inherit;

    clip-path: polygon(100% 100%, 100% 0, 0 50%);
}

.settings__colors-cell {
    width: 2.5rem;
    height: 2.5rem;

    border: none;
    cursor: pointer;

    transition: transform 0.35s ease-in-out;
}

.settings__colors-cell_1 {
    background-color: #ea1a4b;
}

.settings__colors-cell_2 {
    background-color: #fbd12f;
}

.settings__colors-cell_3 {
    background-color: #d67600;
}

.settings__colors-cell_4 {
    background-color: #00dbd8;
}

.settings__colors-cell_5 {
    background-color: #1fff06;
}

.settings__colors-cell_6 {
    background-color: #551b1b;
}

.settings__colors-cell_7 {
    background-color: #d700ba;
}

.settings__colors-cell_8 {
    background-color: #ff6e6e;
}

.settings__colors-cell_9 {
    background-color: #3e5717;
}

.settings__colors-cell:disabled {
    background-color: #797979;
}

.settings__colors-cell:not(:disabled):hover {
    transform: scale(1.5);
}